*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

.dark-mode{
    scroll-behavior: smooth;
    background-color: black;
    color: white;
}

nav ul li:hover{
    animation: headShake 1s;
}

p{
    font-weight: bold;
}

.h1-title{
    font-size: 2.7rem;
    align-self: normal;
}

.h3-title{
    font-size: 2rem;
    align-self: normal;
}

.section-title{
    font-size: 5rem;
}

body{
    font-family: 'courier', sans-serif;    
    margin-left: 100px;
    margin-right: 100px;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    padding-left: 100px;
    padding-right: 100px;
    backdrop-filter: blur(50px);
}

.theme-toggle{
    position: fixed;
    top: 10vh;
    right: 10vh;
    z-index: 1001;
    display: flex;
    align-items: center;
    justify-content: center;
}

.toogle-button{
    border-radius: 50%;
}


ul{
    list-style: none;
    display: flex;
    flex-direction: row;
}

ul a{
    font-weight: bold;
    margin: 0 1.5rem;
}


.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card p{
    padding-top: 1rem;
}


section{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.social-icons{
    display: flex;
    flex-direction: column;
    justify-content:end;
    width: 100%;
}

.social-icons a img{
    width: 30px;
    height: auto;
    margin-bottom: 10px;
}

.info{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

button{
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: white;
    color: black;
    font-weight: bold;
    white-space: nowrap;
}
.btns{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    margin-top: 1rem;
    gap: 1rem;
}

a{
    text-decoration: none;
    color: black;
}

.profile-image{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-image img{
    width: 80%;
    height: auto;
}

.email{
    font-size: 2rem;
    font-weight: bold;
    color: black;
}

.arrow{
    transform: rotate(270deg);
}

.icons-skills{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
}